body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #141313;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }

  form {

    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
  }
  input::placeholder {
    color: #dcdcdc;
    opacity: 1;
    font-weight: 600;
    padding-left: 20px;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #fcfcff;
    width: 40vh;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;

  }

  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    color: #ffffff;
    
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 20%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 1.1rem;
    background-color: #ffffff00;
    border-color: white;
    min-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  input[type="submit"]:hover {
    display: block;
    width: 20%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 1.1rem;
    background-color: #ffffff15;
    border-color: white;
    min-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  input[type="file"] {
    padding: 1px 2px;
  }
  .content-header {
    text-align: center;
    font-size: 15px;
    border-color: white;
    border-width: 2px;
    border-style: solid;

  }
  .content-header .diplay-content {
    display: inline-flex;
  }
  .content-header .diplay-content .form-content-header {
    padding-right: 100vh;
  }
  .content-header .diplay-content .form-content-profile .profile-form {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00556f;
  }
 
  .profile-text {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #00556f;
    font-weight: bold;
  }


  .outside-first {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 100vh;
    margin-top: 20px;
    
  }
   .content-header .diplay-content .form-content-profile .form-content-display {
    display: inline-flex;
    margin-top: 10px;
   }
.profile-dropdown {
    margin-left: 20px;
}
.content-header .diplay-content .form-content-profile .form-content-display .name h2 {
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
}
.profile-dropdown h3 {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #00556f;
}
.profile-dropdown h3:hover {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #036280;
}
.profile-dropdown .fa-chevron-down {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.content-header .diplay-content .form-content-header .title-box {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding-left: 120px;
    padding-right: 120px;
    border-top: 0;
    margin-bottom: 10px;
} 
.border-line-second {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-left: 190px;
    margin-right: 190px;
    padding-left: 20px;
}
.border-line-second fieldset {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.border-line-third {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-left: 190px;
    margin-right: 190px;
    padding-left: 20px;
    margin-top: 20px;
}
.border-line-third fieldset label {
    width: 80vh;
}
